<!doctype html>
<html lang="en">
<head>
{{> partials/head}}
</head>
<body>
  {{> partials/navbar}}
  <div class="container">

    <h1>JHOVE Modules</h1>
    <div class="row">
      <div class="col">
        <ul id="modules" class="list-group"></ul>
      </div>
    </div><!-- end row -->

  </div><!-- end container -->

{{> partials/footer}}
  <!-- Client glue code to handle page events -->
  <script src="/js/jhove/client-modules.js"></script>
</body>
</html>
